/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-container {
  background-color: #f1f5f9;
  border: 0px;
}
.search {
  border: 0px;
  background-color: #f1f5f9;
}
.heading {
  font-size: 30px;
  color: black;
}
