/* Write your CSS here */
.bg-container {
}
.destination-name {
  font-size: 20px;
}
.destination-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
.destination-card {
  width: 150px;
  height: 150px;
  background-size: cover;
}
